appdirs==1.4.4
arabic-reshaper==2.1.3
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
cached-property==1.5.2
certifi==2020.12.5
cfgv==3.2.0
chardet==4.0.0
colorama==0.4.4
decorator==5.0.5
defusedxml==0.7.1
distlib==0.3.1
Django==3.1.7
django-adminlte3==0.1.6
django-bootstrap-form==3.4
django-bootstrap4==3.0.0
django3-easy-pdf==0.1.2.dev1
docopt==0.6.2
docutils==0.17
filelock==3.0.12
future==0.18.2
greenlet==1.0.0
html5lib==1.1
identify==2.2.2
idna==2.10
importlib-metadata==3.10.0
iniconfig==1.1.1
ipdb==0.13.7
ipython==7.22.0
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.18.0
Jinja2==2.11.3
keyring==23.0.1
lxml==4.6.3
MarkupSafe==1.1.1
mysql-connector-python==8.0.23
mysqlclient==2.0.3
nodeenv==1.5.0
packaging==20.9
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
pipreqs==0.4.10
pkginfo==1.7.0
pluggy==0.13.1
pre-commit==2.11.1
prompt-toolkit==3.0.18
protobuf==3.15.7
py==1.10.0
pycep-correios==5.0.0
Pygments==2.8.1
pyparsing==2.4.7
PyPDF2==1.26.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pytest==6.2.3
python-bidi==0.4.2
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
readme-renderer==29.0
reportlab==3.5.67
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.5
sqlparse==0.4.1
toml==0.10.2
tox==3.23.0
tqdm==4.59.0
traitlets==5.0.5
twine==3.4.1
urllib3==1.26.4
virtualenv==20.4.3
wcwidth==0.2.5
webencodings==0.5.1
xhtml2pdf==0.2.5
yarg==0.1.9
zeep==4.0.0
zipp==3.4.1
