{% extends 'admin/base.html' %}
{% block content %}
<h1>Lista de Balconista</h1>
    <table>
       {% for obj_balconista in object_list %}
            <tr>
                <td><b> ID </b>{{obj_balconista.pk}}</td>
                <td><b>Nome: </b>{{obj_balconista.nome}}</td>
                <td><b>Rg: </b>{{obj_balconista.rg}}</td>
                <td><b>CPF:</b>{{obj_balconista.cpf}}</td>
                <td><b>Endereço:</b>{{obj_balconista.endereco</td>
                <td><b>Telefone:</b>{{obj_balconista.telefone</td>
                <td><b>CEP:</b>{{obj_balconista.cep</td>
                <td><b>E-mail:</b>{{obj_balconista.email</td>
                <td><b>Data da Nascimento: </b>{{obj_balconista.data_nascimento}}</td>
                <td><b>Cliente: </b>{{obj_balconista.cliente}}</td>
            </tr>
        {% empty %}
           <h3>Desculpe, você não possui vendas cadastradas em seu sistema.</br></h3>
       {% endfor %}
    </table>
{% endblock %}