{% extends 'adminlte/base.html' %}

{% block content %}
    <h1>Lista de Cliente</h1>
    <a class="btn btn-success btn-sm" href="#"><i class="fa fa fa-plus"></i>Cadastrar Cliente</a>

    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NOME</th>
            <th>RG</th>
            <th>CPF</th>
            <th>ENDEREÇO</th>
            <th>TELEFONE</th>
            <th>CEP</th>
            <th>DATA NASCIMNETO</th>
        </thead>
        <tbody>
    {% for obj_cliente in object_list %}
            <tr>
                <td>{{obj_cliente.pk}}</td>
                {% if obj_cliente.nome|length > 30 %}
                <td>{{obj_cliente.nome|slice:":30"}}...</td>
                {% else %}
                <td>{{obj_cliente.nome|slice:":30"}}</td>
                {% endif %}
                <td>{{obj_cliente.rg}}</td>
                <td>{{obj_cliente.cpf}}</td>
                <td>{{obj_cliente.endereco}}</td>
                <td>{{obj_cliente.telefone}}</td>
                <td>{{obj_cliente.cep}}</td>
                <td>{{obj_cliente.data_nascimento}}</td>
            </tr>
    {% empty %}
        <h3>Desculpe, você ainda nao possui clientes cadastrados em seu sistema.</h3>
    {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a class="btn btn-default btn-sm" href="?page=1">&laquo; Primeira Página </a>
                <a class="btn btn-primary btn-sm" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-left"></i> Página Anterior </a>
                {% endif %}

                <span class="current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. |
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-primary btn-sm" href="?page={{ page_obj.next_page_number }}">Próxima Página <i class="fa fa-arrow-right"></i></a>
                    <a class="btn btn-default btn-sm" href="?page={{ page_obj.paginator.num_pages }}">| Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}